<!-- SPDX-License-Identifier: Apache-2.0 -->

<!DOCTYPE html>
<html>
  <head>
    <title>Eatformation System Version 0.8</title>
    <link rel="icon" href="/static/img/favicon.png" type="image/gif">

    <!-- require jquery and bootstrap scripts -->
    <!--<link rel="stylesheet" href="static/css/eatformation.css" type="text/css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->

    
    <!-- adding style here -->
    <style type="text/css">
      header{
        background-color: lightgray;
        font-size:20px;
        padding:15px;
      }
      header, .form-group{
        margin-bottom: 3%;
      }
      .form-group{
        width:50%;
      }
      #body{
        margin-left:3%;
        margin-right:3%;
      }
      .form-control{
        margin: 8px;
      }
      #right_header{
        width:20%;
        font-size:15px;
        margin-right:0px;
      }
      #left_header{
        margin-left:0;
        width:40%;
        display:inline-block;
      } 
      #id {
        width:49%;
        display: inline-block;
      }
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
		  }
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }
      tr:nth-child(even) {
          background-color: #dddddd;
      }
	    .outer-div{
	  	border: 2px solid #888888;
		  padding: 3px 1px 20px 1px;
		  margin-bottom: 50px;
	    }
    </style>
  </head>
  <body ng-app="application" ng-controller="appController">
    <header>
      <div id="left_header">Eatformation Traceability System 0.8</div>
      <!--<i id="right_header">With Hyperledger Fabric</i>-->
    </header>

    <div id="body">
      <div class="outer-div">
        <div class="form-group">
          <label>축산품질평가원으로부터 도축정보 받아오기 (업데이트 시간이 수십초 걸릴 수 있으니 클릭을 한번 하시고 기다려 주시기 바랍니다. 업데이트 결과는 나옵니다)</label><br>
          <h5 style="color:green;margin-bottom:2%" id="successDownload"> 새로운 도축 정보 {{ numButcheryInfo }} 가 업데이트 되었습니다.</h5>
        
          도축날짜 입력: <input id="multiTraceNos" class="form-control" type="date" ng-model="issueYmd">
          <input id="downloadButechryInfoFromEkape" type="submit" value="입력" class="btn btn-primary" ng-click="downloadButechryInfoFromEkape()">
        </div>
        <#
        <table id="importedPigs" class="table" align="center">
          <tr>
            <th>이력번호</th>
            <th>개체번호</th>
            <th>도축일자</th>
            <th>개체등급</th>
            <th>도축장소</th>
          </tr>

          <% for pig1 in pigs %>
          <!--<tr ng-repeat="pig in importedPigs">-->
          <tr>
            <td><$ pig1.value.traceNo $></td>
            <td><$ pig1.value.pigNo $></td>
            <td><$ pig1.value.butcheryYmd $></td>
            <td><$ pig1.value.firstGradeNm $></td>
            <td><$ pig1.value.butcheryWeight $></td>
          </tr>
          <% endfor %>
        </table>
        #>
      </div>

      <div class="outer-div">
        <div class="form-group">
          <label>최근 입고현황 정리</label><br>
          <input id="getSummaryPigsByDate" type="submit" value="조회" class="btn btn-primary" ng-click="getSummaryPigsByDate()">
        </div>

        <table id="pigsByDate" class="table" align="center">
          <tr>
            <th>날짜</th>
            <th>{{ pigsByDate[9].key }}</th>
            <th>{{ pigsByDate[8].key }}</th>
            <th>{{ pigsByDate[7].key }}</th>
            <th>{{ pigsByDate[6].key }}</th>
            <th>{{ pigsByDate[5].key }}</th>
            <th>{{ pigsByDate[4].key }}</th>
            <th>{{ pigsByDate[3].key }}</th>
            <th>{{ pigsByDate[2].key }}</th>
            <th>{{ pigsByDate[1].key }}</th>
            <th>{{ pigsByDate[0].key }}</th>
          </tr>
          
          <tr>
            <td>입고 개체 수</td>
            <td>{{ pigsByDate[9].value }}</td>
            <td>{{ pigsByDate[8].value }}</td>
            <td>{{ pigsByDate[7].value }}</td>
            <td>{{ pigsByDate[6].value }}</td>
            <td>{{ pigsByDate[5].value }}</td>
            <td>{{ pigsByDate[4].value }}</td>
            <td>{{ pigsByDate[3].value }}</td>
            <td>{{ pigsByDate[2].value }}</td>
            <td>{{ pigsByDate[1].value }}</td>
            <td>{{ pigsByDate[0].value }}</td>
          </tr>
        </table>
      </div>

      <div class="outer-div">
        <div class="form-group">
          <label>날짜별 입고된 처리 현황 조회</label><br>
          <h5 style="color:red;margin-bottom:2%" id="errorPigDate">Error: 날짜를 다시 입력해 주세요</h5>
        
          날짜 입력: <input id="queryLotNoWithDateIn" class="form-control" type="date" placeholder="Ex: 20171227" ng-model="queryButcheryYmdIn">
          <input id="queryPigsWithDate" type="submit" value="조회" class="btn btn-primary" ng-click="queryPigsWithDate()">
        </div>

        <table id="pigsInfo" class="table" align="center">
          <tr>
            <th>체크</th>
            <th>이력번호</th>
            <th>개체번호</th>
            <th>출하농장</th>
            <th>도축일자</th>
            <th>일차등급</th>
            <th>최종등급</th>
            <th>도체중(kg)</th>

            <th>신청자사업자번호</th>
            <th>신청자명</th>
            <th>작업장(도축장)코드</th>
            <th>작업장주소</th>
            <th>작업장명</th>
            <th>확인서발급일자</th>
            <th>확인서발급번호</th>
            <th>도축구분코드</th>
            <th>도축구분</th>
            <th>돼지품종코드</th>
            <th>돼지품종</th>
            
            <th>판정일자</th>
            <th>검사통과</th>
            <th>등급판정구분코드</th>
            <th>등급판정구분</th>
            <th>도체구분(탕박:Y,박피:N)</th>

            <th>도체구분(탕박,박피)</th>
            <th>등지방두께(mm)</th>
            
            <th>경락일자</th>
            <th>경락단가(원/kg)</th>

            <th>비육상태(Y,1,2)</th>
            <th>삼겹살상태(Y,1,2)</th>
            <th>지방부착상태</th>
            <th>지방침착도</th>
            <th>육색</th>

            <th>육조직감</th>
            <th>지방색</th>
            <th>지방질</th>
            <th>결함항목번호</th>
            <th>결함하향</th>
            <th>등외번호</th>
          </tr>
          
          <form>
          <tr ng-repeat="pig in pigsInfo">
            <td><input type="checkbox" name="traceNoPigNo" value="check" ng-model="pig.checked"></td>
            <td>{{ pig.doc.traceNo }}</td>
            <td>{{ pig.doc.pigNo }}</td>
            <td>{{ pig.doc.farmInfo.farmerNm }}</td>
            <td>{{ pig.doc.butcheryInfo.butcheryYmd }}</td>
            <td>{{ pig.doc.butcheryInfo.firstGradeNm }}</td>
            <td>{{ pig.doc.butcheryInfo.gradeNm }}</td>
            <td>{{ pig.doc.butcheryInfo.butcheryWeight }}</td>

            <td>{{ pig.doc.butcheryInfo.corpNo }}</td>
            <td>{{ pig.doc.butcheryInfo.corpNm }}</td>
            <td>{{ pig.doc.butcheryInfo.butcheryCode }}</td>
            <td>{{ pig.doc.butcheryInfo.butcheryPlaceAddr }}</td>
            <td>{{ pig.doc.butcheryInfo.butcheryPlaceNm }}</td>
            <td>{{ pig.doc.butcheryInfo.issueYmd }}</td>
            <td>{{ pig.doc.butcheryInfo.issueNo }}</td>
            <td>{{ pig.doc.butcheryInfo.butcheryUseCd }}</td>
            <td>{{ pig.doc.butcheryInfo.butcheryUseNm }}</td>
            <td>{{ pig.doc.lsTypeCd }}</td>
            <td>{{ pig.doc.lsTypeNm }}</td>
            
            <td>{{ pig.doc.butcheryInfo.judgeYmd }}</td>
            <td>{{ pig.doc.butcheryInfo.inspectPassYn }}</td>
            <td>{{ pig.doc.butcheryInfo.inspectCode }}</td>
            <td>{{ pig.doc.butcheryInfo.inspectMethod }}</td>
            <td>{{ pig.doc.butcheryInfo.skinYn }}</td>

            <td>{{ pig.doc.butcheryInfo.butcheryShape }}</td>
            <td>{{ pig.doc.butcheryInfo.backFatThickness }}</td>
            
            <td>{{ pig.doc.butcheryInfo.auctYmd }}</td>
            <td>{{ pig.doc.butcheryInfo.costAmt }}</td>

            <td>{{ pig.doc.butcheryInfo.fatup }}</td>
            <td>{{ pig.doc.butcheryInfo.belly }}</td>
            <td>{{ pig.doc.butcheryInfo.fatstick }}</td>
            <td>{{ pig.doc.butcheryInfo.insfat }}</td>
            <td>{{ pig.doc.butcheryInfo.yuksak }}</td>

            <td>{{ pig.doc.butcheryInfo.tissue }}</td>
            <td>{{ pig.doc.butcheryInfo.fatsak }}</td>
            <td>{{ pig.doc.butcheryInfo.fatqual }}</td>
            <td>{{ pig.doc.butcheryInfo.defectCode }}</td>
            <td>{{ pig.doc.butcheryInfo.defect }}</td>
            <td>{{ pig.doc.butcheryInfo.offgradeNo }}</td>
          </tr>
          </form>
        </table>
        <input id="getCheckedPigs" type="submit" value="조회" class="btn btn-primary" ng-click="getCheckedPigs()">
      </div>

      <div class="outer-div">
        <div class="form-group">
          <label>새 묶음 번호 생성 (작업지시)</label><br>
          <h5 style="color:green;margin-bottom:2%" id="successCreateLotNo">새로운 묶음 번호 {{ newLotNo }} 가 생성되었습니다.</h5>
        
          이력번호 입력: <input id="multiTraceNos" class="form-control" type="text" placeholder="이력번호(12자리)-도체번호(4자리) Ex: 160074700588-5001, 160025400284-5002, 150060500390-5003 (여러 번호 입력시 쉼표로 구분) 최대 20개 가능" ng-model="traceNosIn">
          <input id="createLotNo" type="submit" value="입력" class="btn btn-primary" ng-click="createLotNo()">
        </div>
      </div>
	  
      <div class="outer-div">  
        <div class="form-group">
          <label>묶음번호 조회</label><br>
          <h5 style="color:red;margin-bottom:2%" id="errorLotNoDate">Error: 날짜를 다시 입력해 주세요</h5>
        
          날짜 입력: <input id="queryLotNoWithDateIn" class="form-control" type="date" placeholder="Ex: 20171227" ng-model="lotNoDateIn">
          <input id="queryLotNoWithDate" type="submit" value="조회" class="btn btn-primary" ng-click="queryLotNoWithDate()">
        </div>

        <table id="allLotNos" class="table" align="center">
          <tr>
            <th>묶음번호</th>
            <th>생성일자</th>
            <th>이력번호</th>
          </tr>
          <tr ng-repeat="lotNo in allLotNos">
            <td>{{ lotNo.id }}</td>
            <td>{{ lotNo.doc.pigLotNoYmd }}</td>
            <td>{{ lotNo.doc.traceNoPigNoArr }}</td>
          </tr>
        </table>
      </div>

      <div class="outer-div">
        <div class="form-group">
          <label>새 라벨 (유통번호) 생성</label><br>
          <h5 style="color:green;margin-bottom:2%" id="sucessCreateNewProcess">새로운 라벨 {{ newProcessNo }} 가 생성되었습니다.</h5>
        
          묶음번호 혹은 이력번호 입력: <input id="lotNo" class="form-control" type="text" placeholder="Ex: L117122712345000" ng-model="lotNoIn">
          <input id="createNewProcess" type="submit" value="입력" class="btn btn-primary" ng-click="createNewProcess()">
        </div>
      </div>

      <div class="outer-div">  
        <div class="form-group">
          <label>유통번호 조회</label><br>
          <h5 style="color:red;margin-bottom:2%" id="errorProcessDate">Error: 날짜를 다시 입력해 주세요.</h5>
        
          날짜 입력: <input id="queryProcessInfoWithDate" class="form-control" type="date" placeholder="Ex: 20171227" ng-model="processDateIn">
          <input id="queryProcessInfoWithDate" type="submit" value="조회" class="btn btn-primary" ng-click="queryProcessInfoWithDate()">
        </div>

        <table id="allProcessInfo" class="table" align="center">
          <tr>
            <th>유통번호</th>
            <th>생성일자</th>
            <th>묶음번호 혹은 이력번호</th>
            <th>유통중량(kg)</th>
            <th>부위</th>
            <th>원가</th>
            <th>판매가</th>
          </tr>
          <tr ng-repeat="processInfo in allProcessInfo">
            <td>{{ processInfo.id }}</td>
            <td>{{ processInfo.doc.processYmd }}</td>
            <td>{{ processInfo.doc.lotNo }}</td>
            <td>{{ processInfo.doc.processWeight }}</td>
            <td>{{ processInfo.doc.processPart }}</td>
            <td>{{ processInfo.doc.purchasingCost }}</td>
            <td>{{ processInfo.doc.sellingPrice }}</td>
          </tr>
        </table>
      </div>

      <div class="outer-div">
        <div class="form-group">
          <label>박스 묶음</label>
          <h5 style="color:green;margin-bottom:2%" id="successCreateBox">{{createBox}} 를 만들었습니다.</h5>
          <br>
          유통번호: <input class="form-control" type="text" placeholder="Ex: 20171227L117122712345000000, 20171227L117122712345000000 고객에게 전달할 유통번호를 박스로 묶어 주세요" ng-model="lotNoBoxIn">
          거래처: <input class="form-control" type="text" placeholder="Ex: 삼호축산" ng-model="nextCorpIn">
          <input id="createBox" type="submit" value="입력" class="btn btn-primary" ng-click="createBox()">
        </div>
      </div>

      <div class="outer-div">
        <div class="form-group">
          <label>박스 묶음 날짜별 조회</label>
          <h5 style="color:green;margin-bottom:2%" id="errorBoxDate">Error: 날짜를 다시 입력해 주세요.</h5>

          날짜 입력: <input id="queryBoxwithDate" class="form-control" type="date" placeholder="Ex: 20171227" ng-model="boxDateIn">
          <input id="queryBoxwithDate" type="submit" value="조회" class="btn btn-primary" ng-click="queryBoxwithDate()">
        </div>

        <table id="allBox" class="table" align="center">
          <tr>
            <th>박스번호</th>
            <th>생성일자</th>
            <th>이력번호</th>
            <th>거래처</th>
          </tr>
          <tr ng-repeat="box in allBox">
            <td>{{ box.id }}</td>
            <td>{{ box.doc.boxYmd }}</td>
            <td>{{ box.doc.inBox }}</td>
            <td>{{ box.doc.nextCorpNm }}</td>
          </tr>
        </table>
      </div>

      <div class="outer-div">
        <div class="form-group">
          <label>유통 정보 업데이트</label>
          <h5 style="color:green;margin-bottom:2%" id="successUpdateProcess">{{updateProcess}} 를 업데이트 하였습니다.</h5>
          <br>
          유통번호: <input class="form-control" type="text" placeholder="Ex: 20171227L117122712345000000" ng-model="processInfoIn.key">
          묶음번호 혹은 이력번호: <input class="form-control" type="text" placeholder="Ex: 104021864078" ng-model="processInfoIn.lotNo">
          포장회사: <input class="form-control" type="text" placeholder="Ex: 삼호 축산" ng-model="processInfoIn.processPlaceNm">
          유통주소: <input class="form-control" type="text" placeholder="Ex: 경기도 양주시 고읍동" ng-model="processInfoIn.processPlaceAddr">
          포장부위: <input class="form-control" type="text" placeholder="Ex: 안심, 등심, 채끝살 등등" ng-model="processInfoIn.processPart">
          포장단위(kg): <input class="form-control" type="text" placeholder="Ex: 100" ng-model="processInfoIn.processWeight"> 
          포장일자: <input class="form-control" type="text" placeholder="Ex: 20171228" ng-model="processInfoIn.processYmd">
          원가(원): <input class="form-control" type="text" placeholder="Ex: 200000" ng-model="processInfoIn.purchasingCost"> 
          판매가(원): <input class="form-control" type="text" placeholder="Ex: 300000" ng-model="processInfoIn.sellingPrice">
          <input id="updateProcessInfo" type="submit" value="입력" class="btn btn-primary" ng-click="updateProcessInfo()">
        </div>
      </div>
      
      <div class="outer-div">  
        <div class="form-group">
          <label>날짜별 유통 현황 정리</label><br>
          <h5 style="color:red;margin-bottom:2%" id="errorSummaryInfo">Error: 날짜를 다시 입력해 주세요</h5>
        
          시작 날짜: <input id="queryProcessSummary" class="form-control" type="date" placeholder="Ex: 20171220" ng-model="summaryStartDateIn">
          완료 날짜: <input id="queryProcessSummary" class="form-control" type="date" placeholder="Ex: 20171230" ng-model="summaryEndDateIn">
          <input id="queryProcessSummary" type="submit" value="조회" class="btn btn-primary" ng-click="queryProcessSummary()">
        </div>

        <table id="allProcessSummary" class="table" align="center">
          <tr>
            <th>일자</th>
            <th>묶음번호</th>
            <th>유통번호</th>
            <th>갯수</th>
            <th>묶음번호 총 중량(kg)</th>
            <th>유통중량(kg)</th>
            <th>수주율</th>
            <th>원가</th>
            <th>판매가</th>
          </tr>
          <tr ng-repeat="processSummary in allProcessSummary">
            <td>{{ processSummary.key[0] }}</td>
            <td>{{ processSummary.key[1] }}</td>
            <td>{{ processSummary.key[2] }}</td>
            <td>{{ processSummary.value[0] }}</td>
            <td>{{ processSummary.value[1] }}</td>
            <td>{{ processSummary.value[2] }}</td>
            <td>{{ processSummary.value[2] / processSummary.value[1]}}</td>
            <td>{{ processSummary.value[3] }}</td>
            <td>{{ processSummary.value[4] }}</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
  <!-- requiring the angular page -->
  <script type="text/javascript" src="/static/js/eatformation.js"></script>
  <script type="text/javascript" src="/static/js/app.js"></script>
</html>
